.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.yellow {
	background-color: rgb(237, 237, 25);
}

.pink {
	background-color: pink;
}

.brown {
	background-color: rgb(131, 82, 82);
}

.black {
	background-color: black;
}

.tan {
	background-color: tan;
}

.blueGreen {
	background-color: teal;
}

.white {
	background-color: white;
}

.gray {
	background-color: rgb(77, 77, 77);
}
