.folder {
	flex-shrink: 0;
	border-radius: 4px;
	height: 70px;
	width: 75px;
	cursor: pointer;

	position: relative;

	border: solid 2px transparent;

	&:hover {
		background-color: #43434344;
		border-color: #ffffff88;
	}

	&:active {
		background: none;
	}
}

.folderIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); // centers it
	width: 100%; // adjust to fit your box
	height: 100%;
	pointer-events: none; // optional
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
