.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.body {
	height: 100%;
}

.dock {
	border: 1px solid lightgray;
	border-radius: 16px;
	background-color: darkslategray;
	margin-bottom: 5px;
	max-width: 90%;
	padding: 10px;

	display: flex;
	align-items: center;
	// justify-content: center;
	gap: 20px;

	overflow-x: auto;
	overflow-y: hidden;

	z-index: 1;
}

.app {
	flex-shrink: 0;
	border-radius: 16px;
	height: 50px;
	width: 50px;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		transition: transform 0.2s ease-in-out;
	}

	&:active {
		transform: scale(0.9);
		transition: transform 0.1s ease-in-out;
	}
}

.appContainer {
	font-size: small;
	color: rgb(221, 233, 202);
}
