.appBoundary {
	--border-radius: 10px;
	--border-width: 1px;

	width: 99%;
	height: 99%;
	border: var(--border-width) solid rgb(70, 70, 70);
	border-radius: var(--border-radius);
	box-shadow: 1px 1px 1px 1px #1d1d1d23;

	display: flex;
	flex-direction: column;
}

// .appBoundary > * {
// 	border-radius: calc(var(--border-radius) - var(--border-width));
// }

.body {
	height: 100%;
}

.body > * {
	border-bottom-left-radius: calc(var(--border-radius) - var(--border-width));
	border-bottom-right-radius: calc(var(--border-radius) - var(--border-width));
}

.header {
	height: 40px;
	background-color: rgb(217, 214, 214);
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	align-items: center;
	color: black;
	border-bottom: 1px solid rgba(150, 150, 150, 0.776);
	border-top-left-radius: calc(var(--border-radius) - var(--border-width));
	border-top-right-radius: calc(var(--border-radius) - var(--border-width));
}

.leftHeader {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 25px;
}

.windowControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	.circle {
		height: 13px;
		width: 13px;
		border-radius: 50%;
		border: 1px solid rgba(67, 67, 67, 0.508);
	}
}

.title {
	font-size: 16px;
	font-weight: 400;
}

.icon {
	width: 30px;
	height: 30px;
}
